/**
*  This file defines the basic layout of all pages
*  and overrides css classes of standard ui widgets.
*  These classes are only used in the base templates
*  or applied automatically by PrimeFaces and should
*  never be used by developers directly.
*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.ui-widget {
    font-family: Arial, sans-serif;
    font-size: 12px !important;
}

.wrapper {
    min-width: 940px;
    max-width: 1920px;
    margin: auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden !important;
    padding: 0 0 0 0 !important;
}

.content {
    min-height: 500px;
    padding: 0;
    margin: 10px 0 10px 210px;
}

.footer {
    clear: left;
    padding: 0;
    margin: 10px 0 10px 210px;
    opacity: .5;
    font-size: 11px !important;
}

.left {
    float: left;
    width: 200px;
    padding: 0 0 0 0;
    margin: 10px 0 0 0;
}

.banner {
    margin: 0;
    padding: 0;
}

.logo {
    float: left;
    width: 200px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.mainNavigation {
    padding: 0;
    margin: 0 0 0 210px;
}

.rightNavigation {
    float: right;
}

.mainNavigation .ui-menubutton, .mainNavigation .ui-splitbutton, .mainNavigation .ui-button {
    margin: 0 5px 5px 0;
}

.ui-panel {
    border: none;
}

.ui-panel .ui-panel-content {
    padding: 0.5em 0.5em !important;
}

.pageTitle {
    font-weight: normal;
    font-size: 1.8em;
    height: 30px;
    margin: 0 0 10px 0;
    padding: 0 0 0 0;
}

.loginForm {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 400px;
    height: 150px;
    text-align: center;

}

.loginForm table{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
